.intro {
  max-width: 830px;
  margin: 52px auto;
  text-align: left;
}

.intro__title {
  font-size: 54px;
  line-height: 1.1;
}
.intro__quote {
  font-size: 24px;

  max-width: 700px;
}
.intro__quote-author {
  position: relative;
  text-align: right;
  right: 6px;
  font-size: 24px;
}
.intro__paragraph {
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    width: 290px;
    margin: 16px;
  }
  .intro__title {
    font-size: 40px;
    line-height: 1;
  }
}
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro {
    margin: 25px;
  }
  .intro__title {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 670px;
    font-size: 45px;
    line-height: 0.8;
  }
}
